@font-face {
    font-family: magiesta;
    src: url('/fonts/Magiesta.ttf');
}


@font-face {
    font-family: 'Milliard Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rene Bieder  Milliard Bold.woff');

}

@font-face {
    font-family: 'Milliard Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rene Bieder  Milliard Medium.woff');

}

@font-face {
    font-family: 'Milliard Light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rene Bieder  Milliard Light.woff');
}


@font-face {
    font-family: 'Milliard Thin';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rene Bieder  Milliard Thin.woff');
}

.magiesta {
    font-family: magiesta;
}

.milliard-bold {
    font-family: 'Milliard Bold';
}

.milliard-medium {
    font-family: 'Milliard Medium';
}

.milliard-light {
    font-family: 'Milliard Light';
}

.milliard-thin {
    font-family: 'Milliard Thin';
}

.nature-green {
    color: #112b03;
}

.bg-nature-green {
    background-color: #7d9672;
}

.bg-nature-green-dark {
    background-color: #5f7a5b;
}

.text-nature-green-dark {
    color: #5f7a5b;
}

.bg-nature-green-light {
    background-color: #e4e6d9;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #7d9672;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7d9672;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7d9672;
}

.custom-shape-divider-top-1656103830 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1656103830 svg {
    position: relative;
    display: block;
    width: calc(287% + 1.3px);
    height: 246px;
}

.custom-shape-divider-top-1656103830 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1656103971 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656103971 svg {
    position: relative;
    display: block;
    width: calc(287% + 1.3px);
    height: 246px;
}

.custom-shape-divider-bottom-1656103971 .shape-fill {
    fill: #FFFFFF;
}
